/* restyle radio items */
.radio-group .form-check {
  padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.card {
  padding: 20px;
}

.card > h3 {
  margin-top: 8px;
}

.DateInput_input {
  font-size: 14px;
  padding: 8px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

.rc-slider-rail {
  background-color: #0d6efd;
}

.rc-slider-track {
  background-color: lightgray;
}

a:visited { text-decoration: none; color:purple; }